<!-- SECTION: THANK YOU -->
<section class="thanks animate-on-scroll" id="thanks">
    <div class="container">
        <p>Thank you to my supporters for their generous contributions and trust, which made this project possible.</p>
    </div>
</section>
