---
layout: base.njk
title: WORLD's FIRST CANNED BTC
description: Bid on WORLD's FIRST CANNED BTC, an original artwork by ZYBORN. Limited edition 1/21. Exhibition in London, auction opens December 2025. Register for updates.
---

{% include "sections/hero.njk" %}
{% include "sections/curator.njk" %}
{% include "sections/artwork.njk" %}
{% include "sections/auction.njk" %}
{% include "sections/email-capture.njk" %}
{% include "sections/charity.njk" %}
{% include "sections/thanks.njk" %}
